<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>THE EVENT HORIZON</title>
    <!--Reference Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Aclonica'rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    

    <!--Reference Social Media Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
 
    <!--External CSS => 3rd Priority-->
    <link rel="stylesheet" href="content.CSS">
 
    <!--Add Favicon Icon => https://www.favicon.cc/-->
    <link rel="icon" href="/img/favicon.ico">
 
    <!--Internal CSS => 2nd Priority--> 
    <!--<style>
        /* CSS Comments */
        /* CSS Syntax => Selector { property: value; } */
        /* (1) Tag Selector */
    </style>-->
</head>
<body>
    <main>
        <header>
            <div>
                <img class="logo" src="/img/Logo2-1.png" alt="logo" width="110" height="70">
                <h1 class="Logo-EVENT">EVENT HORIZON</h1>
                <button href="#" class="custom-btn btn-12"><span>Click!</span><span>contact us</span></button>
            </div>
       </header>
                <!--Add para meter for each loop-->
                <% obj_Plane.forEach(function(Plane){ %>
                    <div class="page2">
                        <div id='stars'></div>
                        <div id='stars2'></div>
                        <div id='stars3'></div>
                        
                        
                        <h2 class="headname"> <%= Plane.name %></h2>
                        <img class="img" src="<%= Plane.img %> " alt="pic" width="800" height="500">  
                        <p class="con"> <%= Plane.Crew %></p>
                        <p class="con"> <%= Plane.Fuel_Capacity %></p>
                        <p class="con"> <%= Plane.Maximum_Speed %></p>
                        <p class="con"> <%= Plane.Range %></p>
                        <p class="con"> <%= Plane.Combat_Range %></p>
                        <p class="con"> <%= Plane.Service_Ceiling %></p>
                        <p class="con"> <%= Plane.Guns %></p>
                        <p class="con"> <%= Plane.Maximum_Weapon_Capacity %></p>
                    </div>
                    <% }) %>
                
  <footer>
    <p class="credit">© 2022 By THE EVENT HORIZON TEAM</p>
</footer>
    </main>
    
</body>
</html>